apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: media-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: saikiranasamwar4/compressor-backend:latest
        ports:
          - containerPort: 5000
        env:
          - name: MONGO_URI
            value: "mongodb://mongo.media-app.svc.cluster.local:27017/filetool"
          - name: JWT_SECRET
            value: "your-k8s-jwt-secret-change-this"
          - name: SESSION_SECRET
            value: "your-k8s-session-secret-change-this"
          - name: PORT
            value: "5000"
          - name: NODE_ENV
            value: "production"
