# Dependencies
backend/node_modules/
frontend/node_modules/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*

# Environment files
.env
.env.local

# SSH Keys and Certificates
*.pem
*.key
*.ppk
compressorr-devops-key.pem

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build outputs
dist/
build/