apiVersion: v1
kind: Secret
metadata:
  name: media-compressor-secrets
  namespace: media-compressor
type: Opaque
stringData:
  mongo-uri: "mongodb://compressoradmin:ChangeThisPassword123!@media-compressor-docdb-cluster.cluster-xxxxx.us-east-1.docdb.amazonaws.com:27017/compressor?ssl=true&retryWrites=false"
  jwt-secret: "your-super-secret-jwt-key-change-in-production"
